@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: white;
}

.navbar a {
    color: black;
    transition: .3s;
}

.navbar a:hover {
    color: #0d6efd;
}

.navbar-nav a {
    text-transform: uppercase;
    margin-right: 8px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 28px;
    letter-spacing: 4px;
    font-family: 'Bebas Neue', cursive;
}

.bg-light {
    color: #0d6efd;
}

.kanan1 h1 {
    font-size: 56px;
    color: black;
}

.tentang {
    background-color: #0d6efd;
}

.tentang h1 {
    color: white;
}

.tentang p {
    color: white;
}

.kiri1 {
    background-image: url('https://images.unsplash.com/photo-1585421514284-efb74c2b69ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 4px;
}

.kiri2 {
    background-image: url('https://images.unsplash.com/photo-1581578731548-c64695cc6952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 4px;
}

.kanan3 {
    background-image: url('https://images.unsplash.com/photo-1584820927498-cfe5211fd8bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 4px;
}

.keunggulan {
    color: black;
}

.keunggulan h2 {
    font-weight: bold;
}

.keunggulan h4 {
    font-weight: bold;
}

.gambar1 {
    background-image: url('https://images.unsplash.com/photo-1601160463734-d4006a0960e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.bgwarna {
    height: 450px;
    background-color: #0d6efd;
}

.teks1 {
    color: white;
}

.footer p {
    color: black;
}

.icon {
    transition: .3s;
}

.icon:hover {
    fill: #0d6efd;
}


/* Mobile */
@media (max-width: 575.98px) {
    .navbar-nav a {
        text-transform: none;
        text-align: center;
    }

    .kanan1 h1 {
        font-size: 36px;
    }

    .kiri1 {
        border-radius: 0;
    }
}

/* Tablet/Tab */
@media (max-width: 991.98px) {
    .kanan1 h1 {
        font-size: 40px;
    }
}